## 20200402 파이썬 문제

In [37]:
#리스트의 최댓값과 최솟값을 출력하여라
nums=[3,4,7,8,9,10]

print(f"max={max(nums)}, minimum={min(nums)}")

max=10, minimum=3

In [38]:
#다음 리스트를 내림차순으로 정렬하여라
nums = [2,5,7,1,10,8,9]

nums.sort(reverse=True)
print(nums)
#sort함수안 조건 널기

[10, 9, 8, 7, 5, 2, 1]

In [39]:
#리스트의 평균값을 첫째자리 수까지 구하여라
price=[10002, 10803, 11000, 12004, 10502, 10020, 10045, 12049]

sumpri = sum(price)
le = len(price)
average = sumpri / le
print('평균: %.1f'%(average))
#리스트에서 len 과 sum 함수 사용가능

평균: 10803.1

In [40]:
#다음 리스트를 튜플로 변경하라
data = ['a', 'b', 'c', 'd', 'e']

data = tuple(data)
print(data)
type(data)

('a', 'b', 'c', 'd', 'e')

tuple

In [41]:
#다음 리스트에서 요소 4,5를 삭제하여라

nums = [1,2,3,4,5]

nums.remove(4)
nums.remove(5)
print(nums)
#인자로 4,5 한번에 넣으면 오류남

[1, 2, 3]

In [42]:
a=[1,2]
b=(3,4)
#c=a+b
#(오류)>>타입이 다른경우, 연산자의 좌변과 우변의 
#선언 순서에 따라 타입이 변경되기때문에

a+=b
print(a)

#b+=a
#(오류)>>

[1, 2, 3, 4]

In [54]:
#dic1 = {'A':90, 'B':80, 'C':70, 'D':60, 'F':50}에서 ‘D’에 해당 되는 값을 
#추출한 값은(dic)에 삭제되는 값은(dic1)에 넣어 만들어 보세요.

dic={'A':90, 'B':80, 'C':70, 'D':60, 'F':50}
dic1=dic.pop('D')
print(dic1)
print(dic)

60
{'A': 90, 'B': 80, 'C': 70, 'F': 50}

## 점프 투 파이썬 문제 5~12

In [44]:
#Q5.다음과 같은 문자열 a:b:c:d가 있다. 문자열의 replace 함수를 사용하여 a#b#c#d로 바꿔서 출력해 보자.
a = "a:b:c:d"
b = a.replace(":", "#")
print(b)

a#b#c#d

In [7]:
#Q6.[1, 3, 5, 4, 2]라는 리스트를 [5, 4, 3, 2, 1]로 만들어보자.
a = [1, 3, 5, 4, 2]
a.sort(reverse=True)
# a.reverse( )
print(a)

[5, 4, 3, 2, 1]

In [46]:
#Q7.['Life', 'is', 'too', 'short'] 라는 리스트를 Life is too short라는 문자열로 만들어 출력해 보자.
a = ['Life', 'is', 'too', 'short']
result = " ".join(a)
print(result)

Life is too short

In [47]:
#Q8.(1,2,3)이라는 튜플에 4라는 값을 추가하여 (1,2,3,4)처럼 만들어 출력해 보자.
a = (1, 2, 3)
a = a + (4,)
print(a)       # (1, 2, 3, 4) 출력
#여기서 궁금증이 하나 생깁니다. 
#튜플은 값을 변경할 수 없는데 ‘왜 값이 추가 될 수 있나?’ 라는 생각을 가지게 됩니다. 
#그 이유는 값이 변경되는 게 아니라 새로운 튜플이 생성되고 4라는 값이 변수에 대입되는 것입니다.

#다음 코드를 실행해 보면 a의 고유 주소 값이 변경됨을 확인할 수 있다.

a = (1, 2, 3)
print (id(a))     # a의 고유 주소 값 출력
a = a + (4,)
print(a)
print (id(a))     # (4,) 값이 더해 진 후 a의 고유 주소 값 출력

(1, 2, 3, 4)
92458408
(1, 2, 3, 4)
94979848

In [48]:
#Q9.다음과 같은 딕셔너리 a가 있다. 다음 중 오류가 발생하는 경우는 어떤 경우인가? 그리고 그 이유를 설명해 보자.
#다음 중 오류가 발생하는 경우를 고르고, 그 이유를 설명해 보자.

a['name'] = 'python'
a[('a',)] = 'python'
a[[1]] = 'python'
a[250] = 'python'

#3번째 예를 실행하면 다음과 같은 오류가 발생한다.

#3번이 오류>>리스트 같은 변하는 자료형은 키값으로 사용불가

TypeError: 'tuple' object does not support item assignment

In [55]:
#Q10.딕셔너리 a에서 'B'에 해당되는 값을 추출해 보자
a = {'A':90, 'B':80, 'C':70}
a.pop('B') #pop함수는 반환값있음
print(a)  # {'A':90, 'C':70} 출력

{'A': 90, 'C': 70}

In [51]:
#Q11.a 리스트에서 중복된 숫자들을 제거해 보자.
a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]
aSet = set(a)     # a 리스트를 집합자료형으로 변환
b = list(aSet)    # 집합자료형을 리스트 자료형으로 다시 변환
print(b)          # [1,2,3,4,5] 출력

[1, 2, 3, 4, 5]

In [52]:
#Q12.파이썬은 다음처럼 동일한 값에 여러 개의 변수를 선언할 수 있다. 다음과 같이 a, b 변수를 선언 한 후 a의 두 번째 요솟값을 변경하면 b의 값은 어떻게 될까? 그리고 이런 결과가 나오는 이유에 대해서 설명해 보자.
a = b = [1, 2, 3]
a[1] = 4
print(b)
#[1, 4, 3]이 출력된다. a와 b 변수는 모두 동일한 [1, 2, 3]이라는 리스트 객체를 가리키고 있기 때문이다.

[1, 4, 3]

In [3]:
a, b = [1, 2, 3], [4, 5]
print(a, b)

[1, 2, 3] [4, 5]