In [5]:
import os, re, csv
import pandas as pd
from eunjeon import Mecab
from tqdm import tqdm
import gensim
#import soynlp
mecab = Mecab()

eta_df = pd.read_csv("../자료/질문.csv", encoding='ANSI')

In [6]:
from sqlalchemy import create_engine
engine = create_engine('sqlite://', echo=False)

In [7]:
eta_df.to_sql('eta_assis', con=engine)

In [8]:
query = """
select 내용, id
from eta_assis
where 내용 LIKE '%이중%' or 내용 LIKE '%부전%' 
   or 내용 LIKE '%전공심화%' or 내용 LIKE '%전심%' 
   or 내용 LIKE '%융합%' or 내용 LIKE '%융합전공%'
"""

In [9]:
dm_eta_df = pd.read_sql_query(query, con=engine)

In [10]:
dm_eta_df.head(5)

                                                  내용         id
0  조교님! 이중전공이랑 부전공 차이에 대해서 궁금해요!이중전공은 학위+졸업장 표시인건...  112245378
1  안녕하세요 조교님!제가 맨 처음에 이중전공을 gbt로 신청했다가이중전공 경영으로 변...  112132727
2  이중전공을 바꾸고싶은데 혹시 바꾸게 된다면 그전에 받은 학점은 이어가는 건가요? 아...  112064305
3  안녕하세요 조교님.2019-2학기에 8학기 까지 마치고, 현재 사정상 2학점이 남은...  111800950
4  안녕하세요 만약에 이중a->이중b로 변경하고 다시 이중b->부전공b로 내리는 것도 ...  111649639

In [44]:
content = eta_df['내용'].tolist()
ids = eta_df['id'].tolist()

In [51]:
DM = [0]*len(ids) #double major
SM = [0]*len(ids) #sub major
UM = [0]*len(ids) #unified major??
MD = [0]*len(ids) #major deepening??
UK = [0]*len(ids) #unknown

In [55]:
len(UM)

3016

In [52]:
UM_WORD = ["융합", "융합전공"
"BRICS", "브릭스",
"동북아외교통상", "동북아 외교 통상",
"외국어로서의한국어교육","외국어로서의 한국어 교육",
"언어와공학","언어와 공학",
"디지털인문한국학",
"유럽연합", "EU",
"문콘", "문화콘텐츠학","문화 콘텐츠",
"국가리더","국가 리더",
"융소","융복합소프트웨어", "융복합 소프트웨어",
"세문경", "세계문화예술경영", "세계 문화 예술 경영",
"정보기록학",
"광역특화"]

In [60]:
#융합 전공을 추출하는 방식을 바꿔보았습니다.

cnt = 0
for i, doc in enumerate(content):
    for j in UM_WORD:
        if j in doc:
            try:
                UM[i] = 1
            except:
                print(i)
            print(doc)
            cnt += 1
            break

print('여러 전공 이름 추가 방식', cnt)

cnt = 0
for i, doc in enumerate(content):

    if '융합' in doc or '융합전공' in doc:
        UM[i] = 1
        cnt += 1

print('기존방식', cnt)

조교님 혹시 더이상 신입생을 받지 않는 융합전공도 5명이 안되면 폐강되나요?(정보기록학 전공)
조교님! 항상 수고가 많으세요:)제가 이번에 국가리더로 이중전공 변경을 하고 싶은데 원래 이중전공 바꾸는 티오가 따로 정해져 있지 않다고 들었는데 이번에는 티오가 정해졌다고 들어서 혹시 컷트라인이나 티오나는 거 어디서 확인할 수 있나요??ㅠㅠㅠ 핑프면 죄송합니다ㅠㅠ코로나 바이러스 항상 조심하세요!
안녕허세요 조교님.어려운 시기에 수고해주셔서 감사합니다저는 지금 서양어대 2학년에 재학하고 있고내년에 본전공 국가로 교환학생을 희망하고 있는데요, 본전공 국가로 교환학생을 가게 되면 학점 인정은 본전공으로 들어가는 건가요? 제 이중전공이 세문경인데 나중에 희망 진로는 세문경쪽이고 대학원도 예술쪽으로 가기를 희망하고 있어서 세문경 학점이 많이 필요한 상황입니다.이 경우에 교환학생 학점 인정이 어떻게 되는 것인지 여쭤보고 싶습니다
조교님 안녕하십니까. 저번에 해주신 답변은 많은 도움이 되었습니다. 질문을 하나만 더 드릴 수 있을까요?* 교양대학 컴퓨터프로그래밍은 2019-2학기까지 개설되었던 "정보사회의프로그래밍기초"와 동일 과목입니다. 2019-2학기까지 "정보사회의프로그래밍기초"를 수강한 2019학번 이전 학생은 컴퓨터프로그래밍 과목을 다시 수강할 수 없으며(재수강만 가능합니다), 전공 필수 대체 수강 인정됩니다.라고 융복합소프트웨어 학과 홈피에 추가 공지가 되었는데, 이럴 경우에도 정보사회의프로그래밍기초항목을 말씀하신대로 학종지에 찾아가서 이수구분신청을 하면 될까요?반복되는 질문
이중전공변경에 대해 질문 있습니다!안녕하세요 조교님!! 저는 현재 18학번으로 재학중인 학생입니다.2019학년도에 2학년이 될 때 (적절한 시기) 이중을 신청하지 않았고 3학년이 될 때 이중전공을 문화콘텐츠 학과로 신청하여 문화콘텐츠 학과가 되었습니다.신청할때에 이중전공이 아니라 이중변경으로 되더라구요..그러면 저는 이제 이중전공을 더 바꿀 수 없는건가요?이중전공변경 제한은 몇 번까지인가요??그리고 문화콘텐츠학과는 따로 전공필수과목이 없나요?수강편람을 읽었는데, 인문기반 융합전공 학점이수 체계도는 있더라구요! 문화콘텐츠학과도 해당되는 건지 궁금
안녕하십니까 조교님이번에 융복합소프트웨어(이하 융소)를 서울캠퍼스에서 이중으로 듣는 2학년 17학번입니다.제가 1학년때 핵심인문교양으로 들었던 정보사회의프로그래밍기초 라는 과목 (2학점)이 융소학생들이 2학년에 들어야하는 컴퓨터프로그래밍(3학점)과 동일과목이라서 컴퓨터프로그래밍을 수강신청 할 수가 없습니다.이런경우 이수한 교양 2학점이 핵심인문교양에서 빠지고3학점이 이중전공 융소 과목 이수 학점에 추가되는건가요?동일과목이지만 배운게 완전히 달라서 수강을 못하면 청강이라도 해야하는데...걱정이네요 ㅜ
조교님 안녕하세요! 새해 복 많이 받으세요 :)저는 다음학기 4-1로 복학하는 학생입니다.1월 29일부터 진행되는 부전공 신청 관련하여 궁금한 점이 있습니다! 제가 현재 이중전공이 세계문화예술경영인데이번에 부전공 신청기간에 미컴 부전공으로 내리고 다음 학기에 4월경에 후기이중전공을 신청하려고 합니다.현재 세문경 과목중에 미컴 교류 과목으로 6학점 들어놓은 상태이고 다음학기 꽉꽉 채워듣고 계절학기 6학점까지 들으면 후기 이중전공 요건을 모두 채울 수 있습니다.1. 부전공 신청기간에 세문경 이중취소를 하고 미컴 부전을 신청해야하는건지 아니면 그냥 미컴
후기이중전공 관련 질문이요!4-1 재학중이고 8학기안에 졸업 무난하게 할 수 있는 상황입니다본전공이 너무 싫어서 이중을 했고이중만으로는 만족이 안돼서 후기이중을 생각하고 있었어요 그렇게하면 학사가 3개 나올줄 알았거든요알고보니 2개밖에 안된다고 하더라고요이 경우에 이중미컴, 후기이중 융소 이렇게 한 다음에 학위를 이중이랑 후기이중으로 받을 수 있나요? 본전공 버리고?
조교님 안녕하세요! 먼저 새해 복 많이 받으세요???♀?제가 현재 세계문화예술경영을 이중전공으로 이수중인데 융합전공 공통기초 과목 중 하나인 '언어와 논리' 수업을 이수했었습니다. 근데 종합정보시스템에 성적취득현황을 들어가보니까 자선으로 표시가 돼있어서 해당 과목이 융합전공 공통기초 과목이 맞는지 문의드리고싶습니다ㅠㅠ2018-1학기 언어와 논리(Language and Logic)교과목 코드는 J05001 이고 개설학과는 언어와공학전공 이라고 되어있습니다!만약에 해당 수업이 융합전공 공통기초 과목이 아니라면 수강신청할 때 어떤 과목이 융합전공 공통기초인지 확인할 수
조교님 세계문화예술경영 에서 서양어대 학생은 융합전공연계기초를 필수로 이수해야한다고 나와있는데, 전공교과로 대체할 순 없는 건가요?
안녕하세요 조교님저는 글캠생이고 이중전공을 동북아로 듣는데 설캠의 경영학부/중외통/융합일본학부 등의 수업도 6학점까지는 인정된다고 하던데 글캠생이 본인의 이중전공 과목 이외의  설캠과목을 수강신청 할 수 있나요? 수강신청 자체가 안된다고 어디선가 들은것 같아서요..!
안녕하세요 조교님항상 감사합니다 :)연계과목 관련 문의드립니다1전공 융합전공 연계과목으로 인정되는 과목의 경우, 일반적으로 비고란에 연계과목 인정 가능이라고 따로 기재가 되는데,계절학기의 경우 따로 기재가 되지 않더라고요해당 과목을 계절학기에 들은 경우에도 연계과목으로서 융합전공 과목으로 이수구분 신청이 가능한가요?학수번호가 동일한 것은 확인했습니다항상 감사합니다 :)
안녕하세요 조교님.갑작스러운 상황에 주말이라 물어볼 곳이 여기밖에 없네요ㅜㅜ결론부터 말하자면 이중전공이 자동으로 취소될 수도 있나요?제가 19년도 1학기 6월 중에 이중전공을 신청하여 7월 말에 선발되었다고 생각했습니다.(이수 중인 전공 항목에서 이중전공 융소 라고 나와있었으니까요)제 기억상 9월 초까지도 이수 중인 전공 항목에 이중전공 융소가 있었습니다.그런데 최근에 성적 조회 후 이수 중인 전공을 확인해보니 1전공밖에 나와있지 않네요ㅜ2학기에 융소 수업을 아예 안듣긴 했는데...뭔가 문제가 생긴 것 같아 너무 불안해요ㅜ학적 담당자한테 문의는
융합전공 관련 질문입니다!융합전공은 2학년 이전에만 선택 가능하다는 것을 봤는데2-2학기 때 이중변경으로 융합전공을 선택해도 되나요?
안녕하세요 조교님:)BRICs 이중전공으로 신청하고 싶습니다저는 18학번이지만 한학기 휴학을 해서 2-1학기 재학 중입니다이미 다른 이중전공을 하고 있는데 브릭스로 이중변경을 하고자합니다수강편람에 보니까 1학년 2학기 소정기간 동안 신청할 수 있다고 쓰여있는데 그 이후 학기에는 이중 신청이나 변경이 불가능 한건가요?
조교님 안녕하세요!!국리가 부전공이 되는 걸로 알구 있는데 올해도 마찬가지인가요??이중전공 설명에 아무리 봐도 외국어로서의 한국어 교육은 부전 가능한데 국리 부전 가능이란 말이 없더라구오ㅠㅠ
안녕하세요 조교님! 이제 다음 주면 바로 이중전공/부전공 신청기간인데, 모르고 궁금한 게 있어서 순서대로 질문드리고자 합니다. 1. 인문대학에 속한 학과끼리는 이중전공과 부전공이 가능하나요? 제 학과가 언어인지과학과이고 이중전공이나 부전공으로 희망하는 학과 중 철학과가 있는데, 학과 사람들한테 물어봤더니 일단 안 된다고 하지만 확실치 않다고 답변받아서 조교님께 여쭙고자 합니다. 2. 이중전공, 부전공, 융합전공 상관없이 셋 다 학위로 인정받을 수 있나요? 그리고 후기이중전공은 부전공을 신청한 해의 다음 해 4월에 신청하는 것인 지 궁금합니다. 3. 진로와 학과와
안녕하세요 조교님!! 이중전공에 관해 질문이있습니다통대는 이중전공 최소 이수학점 42학점을 들어야한다고 알고있는데 제가 신청할 국가리더는 모든 수업을 들어도 27학점밖에 안됩니다(에타 시간표에 뜬거 보고 계산해봤습미다. 전공교류해도 6학점밖에 인정안해줘서 최대 33학점) 이런 경우는 어떻게 하면 되나요?
조교님! 학교 홈페이지에 융합전공별 운영 현황 보니까 세계문화예술경영은 수업캠퍼스가 글로벌이라고 나와있는데 그럼 서울캠퍼스에서는 아예 수업을 안하는건가요ㅠㅠ?
안녕하세요 조교님 글캠인데 이중전공으로 국가리더를 하고 싶은데 전공시간표와 많이 겹쳐 고민이됩니다 국가와 사회라는 교양 카테고리에 전공 인정해주는 강의가 있다고 들었는데 어디서 찾아볼 수 있는지 알고 계시나요? 참고로 국리 홈페이지에 들어가봤지만 찾지못했습니다 ㅠㅡㅠ..
안녕하세요 조교님!브릭스 융합 전공 신청은 일년에 한번만 가능하다는데 사실인가요?!ㅠ
조교님 안녕하세요! 이중전공에서 궁금한 점이 생겨 질문드립니다.웹툰에서 복전+부전을 하는 사례를 본 적이 있는데요,저희 학교도 이렇게 이중전공에 부전공도 신청할 수 있나요? 학교홈페이지에 이중전공이나 전공심화, 융합전공 같은 안내는 나와도 이중+부전은 본적이 없어서요. 수강편람에서도 이중전공에 대해 안내할 때 이중전공, 부전공, 전공심화과정 중 한개의 과정을 선택하라 하는데, 이중과 부전공을 동시에 고르는건 불가능하고, 혁신융합전공으로 만들어서 수강해야하나요?
에타 조교님!1전공이 상경계열인 19학번인데요브릭스 이중전공을 하게되면사진에 있는 설명과 같이 무조건 언어트랙으로 가게 되는 건가요??
안녕하세요 조교님이중전공에서 국가리더나 지역경제개발협력 전공 등은 이중으로 신청한 후 부전으로 내릴 수 있나요?감사합니다!즐거운 추석 되세요!
안녕하세요! 조교님 !! 곧 추석이 다가오고 날씨도 시원해지고 있습니다.저는 이중전공으로 세계문화예술경영을 희망하고 있는 1학년 학생입니다.34학점을 들어야 이중전공 신청이 가능하다고 들었는데, 융합전공인 경우 아니라는 말을 들었습니다.현재 32 학점을 듣고 이중전공을 신청할 수 있을 것 같은데, 세계문화예술경영의 경우 신청 및 선발이 가능할지 궁금합니다.정말 감사합니다.조교님 덕분에 항상 많이 알아갑니다.힘써주셔서 감사합니다.좋은 연휴 보내세요!
안녕하세요 조교님중복 수강에 대해 문의드립니다!16년 1학기 교양과목으로 이창현 교수님의 범죄와 수사(U76374101)을 듣고 이후 복학하여 18년 2학기 국가리더 전공 과목으로 정한중 교수님의 범죄와 수사 과목(G03203101)을 들었습니다.18년 2학기까지만 해도 해당 과목에 대한 중복 과목이란 규정이 없었는데 19년 1학기 수강편람부터 두 과목이 중복 과목으로 분류된 것을 확인하였습니다.해당 과목 수강 신청 당시 별 다른 문제 없이 수강 신청이 되었는데 그렇다면 들은 과목의 학점은 어떻게 되는 것인지 소멸되는 것인지 문의드립니다
조교님 더운데 수고하십니다.34학점이 이중전공 우선권이라고 들었는데 그렇다면 34학점을 못채워도 이중을 할 수 있는건가요?문화콘텐츠와 같은 융합전공은 34학점을 못채운다면 아예 신청 하지 못하나요?
안녕하세요 조교님 고생이 많으십니다!다름이 아니라 제가 세문경 이중전공을 하고 있는데 세문경에 참여하는 학과는 연계기초 과목도 1전공 학과 내에서만 들으라고 되어있어요. 그런데 제가 들은 연계기초과목이 1전공 필수인데 혹시 중복으로 인정이 될까요?
조교님 안녕하세요.이중전공이 문화콘텐츠학 연계전공인 학생입니다. 문콘 수업을 재수강하고 싶은데 해당과목에 이번에 안 떠 있으면 다른과목으로 연결할 수 있나요?문화콘텐츠학은 홈페이지도 제대로 운영되지않고 있는 실정이라.. 자세한 사항은 어디로 문의하면 될까요?
조교님 더운 여룸 항상 고생 하십니다다름이 아니라 이중전공과 자선에 대해 궁금한 게 있습니다.제가 이중전공으로 문화콘텐츠학을 선택하여 9학점을 이수 했습니다. 그러다 이번 학기에 경영학과로 이중전공을 변경했습니다.문화콘텐츠 수업 9학점이 자선으로 넘어간다는 걸 알고 있는데 이번 변경된 바에 따르면 9학점 자선을 교양으로 변경 가능하다고 들었습니다.그럼 이 9학점 중 재수강 가능 항목에 들어가는 수업을 다른 일반 교양(문화와 예술, 사철..등등)수업으로 재수강 할 수 있는지 질문드립니다.
안녕하세요 조교님! 제가 1학년 때 이중을 신청 안해서 이번 학기 하려고 합니다. 우선 세계문화예술경영으로 생각하고 있는데,, 몇 가지 궁금한게 있습니다.1- 혹시 이중 아직 신청 못했는데도 수업들을 들어놔도 되는지와 융합이다보니 다른 과에 연결된 수업들도 미리 들을 수 있는지 궁금합니다.3- 그리고 혹시 18학번인데 후기이중신청자는 작년 배정기준과 비슷한가요?(제가 세계문화예술경영 학과에다가 직접 연락해서 문의하려고 했는데 전화를 계속 안받으셔서 여기다 여쭤보게 됐습니다 죄송합니다ㅜ)
안녕하세요 조교님 브릭스 전공을 이수중입니다16학번이라서 상경선택 18, 브릭스 전공 선택  21학점을 이수해야 하는데전공선택과목의 모든학점을 합쳐봐도 21학점이 되지 않습니다..이런경우 어떻게 해야하나요??
안녕하세요 조교님. 정보 기록학과 이중전공게 관해서 정보가 너무 없어서 여기에 여쭤봅니다. 정보기록학과를 이중하고 졸업할 경우 어떤 학사가 나오나요??
조교님 안녕하세요 융합 전공에서 이중전공 생각중인 학생입니다 어떤 과 보면 서울캠 글로벌캠 두 캠에서 열린다고 써있는데 설캠이면 서울에서만 글로벌이면 글로벌에서만 들을 수 있는 건가요? 그리고 만약 캠을 선택해서 듣는 거면 나중에 표기될 때 어떤 식으로 표기되는 건가요?! 수업 들은 캠으로 표기되나요?
조교님 안녕하세요!현재 듣고 있는 수업은 (19-1학기) 이수구분 신청이 불가능한가요?융합전공이라.. 이게 학점으로 인정받는지 아닌지 알아봐야하는 수업이 있어서용 ㅠㅠ
안녕하세요, 에타조교님!제가 작년에 이중전공 신청 당시 세문경을 지원했었는데요!글로벌캠퍼스는 해당캠퍼스 세문경 밖에 신청할 수 없다고 들었고 그것밖에 없기에 신청했는데 종정시에는 서울캠퍼스 세문경으로 신청되어있더라구요 그런데 또 이중전공 신청은 캠퍼스가 기재되어있지 않아서 헷갈려서요 ㅜ이중전공 캠퍼스가 어딘지 어디에서 확인할수 있을까요?수강신청 시에는 글로벌캠퍼스로 신청했는데 정정기간에 서울캠퍼스로 변경해야할까요?
안녕하세요! 1전공 개설 과목이 이중전공(융합전공) 연계 과목이랑 동일한데이 경우에 1전공꺼 신청하고 나중에 학종지가서 이중전공으로 변경 가능한가요?  요약1전공이 이중이랑 동일할 경우에 1전공을 학종지에서 이수구분변경(이중)으로 가능한가요?
조교님 안녕하세요!전공교류 인정은 이중전공도 되는 건가요?이중전공이 문화콘텐츠학과인데 방송영상뉴미디어 전공에서 문화콘텐츠학 융합전공 인정되는 수업을 듣고싶어서요!
안녕하세요!혹시 이중전공을 바꿨다가 다시 또 바꾸는게 가능한가료? 원래 바꿨덩걸루요 예를들면문콘→경영→문콘이런식이요!
한교에 있는 외국어로서의 한국어 전공이랑 융합전공에 있는 외국어로서의 한국어 전공이랑 뭐가 다른가요
세계문화예술경영이중전공 졸업논문 있나요?
세문경 공통기초  세 과목중에 하나를 필수로 들어야하는 전필같은건가요?? 아니라고알고있는데 ㅠㅠ
융합전공연계기초 교과목을 들으면 이중전공이랑 전공 학점 모두 채워지는건가요?
이중으로 EU전공만 신청했는데문화콘텐츠전공으로 바꾸고싶습니다이번 1학기부터 문콘수업을 들을 수 있나요?나중에(5월) 이중변경했을때 1학기때들은 학점이 다 인정이되나요?
안녕하세요 다음학기 복학예정인 14학번학생입니다 군대에서 진로에 대해 깊게 고민을 한결과 이중전공을 융합소프트웨어나 문화콘텐츠로 변경을 하려고 하는데요 기존에는 제가 경제 이중전공을 희망하다가 학점때문에 떨어지고 부전공을 경제로한뒤 이중전공 변경 기간에 경제를 이중으로 올리려고 생각을 했었습니다. 일반전공은 이런식으로 변경하는게 맞는거 같은데 융합전공도 동일하게 가능한지 궁금합니다 지금 부전공이 경제인 상태인데 마찬가지로 이중전공변경신청기간에 융합소프트웨어나 문화콘텐츠 신청하면 되는건가요 이중변경은 티오가 있어야하는걸로 아는데 찾아보니 융합소프트웨어는 중간변경은 안된
조교님! 항상 고생하십니다 ????질문 드릴게 있어서요. 브릭스 융합 전공 상경트랙을 탄다면학년 구분되어있는 예를들어 3학년꺼 뭐뭐뭐 4학년꺼 뭐뭐뭐2학년때 미리 들어도 되는 건가요?!
조교님! 이중전공으로 융복합소프트웨어를 신청하려고 하는데요!신청페이지 보니까 글로벌캠퍼스에 공과대학이라고 나와있더라구요1. 졸업장에는 글캠으로 찍혀나오나요?2. 글캠이니까 수업들으러 글캠으로 가야하나요??
조교님! 글켐 통대에 재학중인 17입니다 이중전공으로 문화콘텐츠학과 전공 하려고 하는데 학점은 평균 몇점대 정도 돼야하나요?ㅠㅠ 제가 학점이 많이 낮아서ㅠㅠ 그리고 배정기준이 전체선발이라고 돼있는데 무슨말인가요?
조교님 궁금한점이있어요!!!저는 상경을 1전공으로 하고있습니다.이중을 독일어로 하려고했는데융합전공에서 국가리더전공, 지역경제개발전공, EU, 브릭스에도 관심이 생겨서요이 전공에서는 뭘 배우나요??또 커리큘럼은  어떤지 알려주세요^^
조교님!!! 저는 국가리더 생각하고 있는데글캠에는 형법이랑 설캠이 민법인걸로 알고있어요근데 글캠인 학생이 설캠 수업 들을 수는 없나요?ㅠ형법 보다는 민법에 더 관심이 많아서요...
안녕하세요 조교님.저희 학교 교수님들 연락처 일람 어디서 볼 수 있을까요융복합소프트웨어 전공 주임 교수님과 만나뵈어야 할 일이 있는데 연락처를 모르니... 알려주세요!
조교님 안녕하세요코어산업과 융합전공관련해서 질문이 있습니다.현재 서양어대학 1학년으로 재학중입니다.제가 1학기에 글로벌지역학 모델로 코어사업 신청을 했습니다. 지금은 융합전공 융복합소프트웨어를 이수하려고 생각하고있습니다.이런경우 코어사업 신청을 취소해야하나요? 아니면 그냥 11월 말에 융복합소프트웨어를 신청하면 되나요?언제나 친절한답변 감사합니다
조교님~!융합전공이랑 혁신융합전공은 다른 거죠??
안녕하세요 질문드리려고합니다 ㅠㅠ 세계문화예술경영전공은 이번 년도 정원제한이 있나요?? 있다면 몇명인가요.. 왜 못찾겠죠ㅠㅜㅠ
조교님 안녕하세요! 언어와공학은 졸업하면 학사표기가 어떻게뜨니요?
조교님! 융복합 소프트웨어 이중전공 모집 공고나 기준은 어디서 볼수 있나요??
조교님 안녕하세요이중전공 때문에 고민입니다.문화콘텐츠학이랑 광고pr브랜딩전공이랑둘 중에 고민입니다.강의시간표를 확인해보니 둘 다 서울과 글로벌 캠퍼스에 모두 열려있는 전공이더라구요.그런데 둘 다 글로벌 캠퍼스에 열린 강좌 수가 서울 캠퍼스에 열린 강좌 수보다 많게는 6개의 수업이나 부족하더라구요.저는 글로벌캠퍼스 학생입니다.제가 만약 서울캠퍼스와 글로벌캠퍼스 모두에 열려 있는 전공을 이중전공으로 할 경우 두 캠퍼스 모두에서 수업을 들을 수 있는 건가요?
브릭스 전공은 브릭스 과목말고 경제쪽 강의도 따로 수강해야하나요?
조교님! 국가리더 이중컷 높나요??
여러 전공 이름 추가 방식 59
기존방식 25

In [57]:
for i, doc in enumerate(content):
    if '이중' in doc:
        DM[i] = 1
    if '부전' in doc:
        SM[i] = 1
    if '전공심화' in doc or '전심' in doc:
        MD[i] = 1

    for j in UM_WORD:
        if j in doc:
            UM[i] = 1
            cnt += 1
            break
    if DM[i] == 0 and SM[i]==0 and MD[i]==0 and UM[i]==0:
        UK[i]==1

In [58]:
raw_data = {'이중전공': DM,
            '부전공': SM,
            '전공심화': MD,
           '융합전공': UM,
           'UNK': UK,
           'id': ids}

data = pd.DataFrame(raw_data)

In [59]:
data.head(10)

   이중전공  부전공  전공심화  융합전공  UNK         id
0     1    1     0     0    0  112245378
1     0    0     0     0    0  112204241
2     0    0     0     0    0  112183678
3     1    1     0     0    0  112132727
4     1    0     0     0    0  112064305
5     0    0     0     0    0  112063892
6     0    0     0     0    0  112052180
7     0    0     0     0    0  111943260
8     1    0     0     0    0  111800950
9     0    0     0     0    0  111713683

In [40]:
data.to_sql('eta_mjr', con=engine)

ValueError: Table 'eta_mjr' already exists.

In [61]:
query = """
select a.내용, m.이중전공, m.부전공, m.전공심화, m.융합전공, m.id
from eta_assis a, eta_mjr m
where a.id = m.id
"""

In [62]:
res = pd.read_sql_query(query, con=engine)

In [63]:
res.head(5)

,내용,이중전공,부전공,전공심화,융합전공,id
0,조교님! 이중전공이랑 부전공 차이에 대해서 궁금해요!이중전공은 학위+졸업장 표시인건...,1,1,0,0,112245378
1,안녕하세요 조교님!제가 맨 처음에 이중전공을 gbt로 신청했다가이중전공 경영으로 변...,1,1,0,0,112132727
2,이중전공을 바꾸고싶은데 혹시 바꾸게 된다면 그전에 받은 학점은 이어가는 건가요? 아...,1,0,0,0,112064305
3,"안녕하세요 조교님.2019-2학기에 8학기 까지 마치고, 현재 사정상 2학점이 남은...",1,0,0,0,111800950
4,안녕하세요 만약에 이중a->이중b로 변경하고 다시 이중b->부전공b로 내리는 것도 ...,1,1,0,0,111649639

In [17]:
res.to_csv('../자료/에타_전공분류.csv', encoding = 'utf8')

In [66]:
!pip install kiwipiepy

Collecting kiwipiepy
  Downloading kiwipiepy-0.8.1-cp37-cp37m-win_amd64.whl (57.8 MB)
Installing collected packages: kiwipiepy
Successfully installed kiwipiepy-0.8.1

In [67]:
import import_ipynb
import preprocess as prep